<div id="<%= dom_id game %>">
  <p>
    <strong>Winner:</strong>
    <%= game.winner_id %>
  </p>

  <p>
    <strong>Loser:</strong>
    <%= game.loser_id %>
  </p>

  <p>
    <strong>Winner score:</strong>
    <%= game.winner_score %>
  </p>

  <p>
    <strong>Loser score:</strong>
    <%= game.loser_score %>
  </p>

  <p>
    <strong>Played at:</strong>
    <%= game.played_at %>
  </p>

</div>
