<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Elo:</strong>
    <%= player.elo %>
  </p>

  <p>
    <strong>Wins:</strong>
    <%= player.wins %>
  </p>

  <p>
    <strong>Losses:</strong>
    <%= player.losses %>
  </p>

</div>
